main {
    margin-top: 70px;
}

.word-definitions dt {
    font-size: 1.2em;
    color: #373;
}

.submitted-text {
    font-style: italic;
    border-bottom: 1px solid black;
}

.submitted-text::before {
    content: "Submitted text: ";
    font-style: normal;
}
